body {
    margin: 0;
    font-family: Helvetica;
    line-height: 2;
}

main > section {
    min-height: 100vh;
}

nav, main > section {
    overflow: auto;
}

main > footer {
    min-height: 100vh;
}

#page-navigation {
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    padding: 0em;
}

#page-navigation > ul {
    list-style: none;
    display: flex;
    
}

nav ul a:link {
    text-decoration: none;
}

#banner {
    background-image: url("images/banner-forest.jpg");
    background-size: cover;
    display: flex;
    font-size: 4em;
    color: white;
    text-shadow: 4px 4px black;
}

blockquote {
    font-size: 0.25em;
}

#early-life {
    background-color: gray;
}

#early-life h2 {
    font-size: 2em;
}

#early-life > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    align-content: center;

}

#early-life > div > div:nth-child(1) {
    padding: 4em;
    align-content: center;
}

#career {
    background-image: url("images/ocean.jpg");
    background-size: cover;
}

#career > div {
    background-color: rgba(135, 206, 250, 0.6);
    display: flex;
    flex-direction: column;
    margin: 10%;
}

#career > div > h2 {
    display: flex;
    justify-content: center;
}

#publications {
    background-color: grey;
}

#publications > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#publications > ul > li:nth-child(1) {
    background-color: indianred;
}

#publications > ul > li:nth-child(2) {
    background-color: indianred;
}

#publications > ul > li:nth-child(3) {
    background-color: indianred;
}