@font-face {
    font-family: Handlee;
    src: url(/resources/fonts/handlee.ttf);
}

body {
    margin: 0;
    font-family: Helvetica;
    line-height: 2;
}

main > section, footer {
    min-height: 100vh;
}

nav, main > section, footer {
    overflow: auto;
}

header {
    font-family: Handlee;
}

#page-navigation h1 {
    color: #6B3E04;
    font-size: 1.5em;
}

h2 {
   color: #B8833E;
   font-family: Handlee;
   font-size: 3em;
}

#page-navigation {
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(115, 149, 174, 0.5); */
    background: rgb(115, 149, 174);
    padding: 0em;
    height: 60px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

#page-navigation > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul a:link {
    text-decoration: none;
}

nav ul a {
    padding: 1em;
    color: #B8833E;
    background-color: #A5BFD1;
    border-radius: 20px;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em;
}

nav ul a:hover {
    color: #FFE6C6;
}

#banner {
    background-image: url("images/banner-forest.jpg");
    background-size: cover;
    display: flex;
    font-size: 3em;
    color: #B8833E;
    text-shadow: 4px 4px black;
}

#banner > header {
    padding-top: 250px;
}

#banner > blockquote {
    padding-top: 850px;
    padding-left: 250px;
    font-size: 0.35em;
}

blockquote {
    font-size: 0.25em;
}

#early-life {
    background-color: #b1a296;
}

#early-life > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding-top: 12%;
}

#early-life > div > div:nth-child(1) {
    padding: 4em;
    align-content: center;
}

#career {
    background-image: url("images/ocean.jpg");
    background-size: cover;
}

#career > div {
    background-color: rgba(135, 206, 250, 0.8);
    display: flex;
    flex-direction: column;
    margin: 10%;
    border-radius: 29px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

#career > div > h2 {
    display: flex;
    justify-content: center;
}

#publications {
    background-color: #8183BB;
    /* background-color: #b1a296; */
}

#publications > h2 {
    text-align: center;
}

#publications > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#publications > ul > li > h3 {
    text-align: center;
}

#publications li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#publications a {
    display: flex;
    align-self: flex-end;
    margin: 0 2% 2% 0;
}

#publications > ul > li:nth-child(1) {
    background-color: #DADBEF;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

#publications > ul > li:nth-child(2) {
    background-color: #DADBEF;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

#publications > ul > li:nth-child(3) {
    background-color: #DADBEF;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

#publications img {
    border-radius: 15px 15px 0 0;
}

#publications p {
    padding: 0 5% 0 5%;
}

#publications a {
    display: block;
    height: 40px;
    width: 100px;
    background: #7395AE;
    color: #ffffff;
    text-align: center;
    font-size: 100%;
    line-height: 40px;
    font-family: Handlee;
    border-radius: 15px;
    text-decoration: none;
}

#contact {
    background-color: #DADBEF;
}

#contact > h2 {
    text-align: center;
}

#contact > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}